$shopapp-color-1: #550080;
$shopapp-color-2: #b21bfd;
$shopapp-background-color: #11001a;
$shopapp-background-color-gradient: linear-gradient(#140033, #19004d);
$shopapp-title-color: #33ffad;

$gradient-color-1: rgb(179, 59, 212);
$gradient-color-2: rgb(147, 19, 189);
$gradient-color-3: rgb(212, 59, 115);
$gradient-color-4: rgb(189, 19, 87);

$light-color-1: #fff;
$light-color-2: #ddd;

$dark-color-1: #0d001a;
$dark-color-2: #333;

/*
  Other colors:
  #6600ff; #ac00e6; ...

*/
