<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)" novalidate
    class="mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form mx-auto">
          <h2 class="login-header">Đăng nhập</h2>

          <div class="form-group">
            <label for="email">Phone</label>
            <input type="text" id="email" class="form-control"
              name="phone" required pattern="^\d{10}$"
              [(ngModel)]="userLoginModel.phone" #phone="ngModel" />
            <div *ngIf="phone.errors && phone.touched || isSubmitted">
              <p class="text-danger mt-2"
                *ngIf="phone.errors?.['required']">
                Số điện thoại không được để trống
              </p>
              <p class="text-danger mt-2"
                *ngIf="phone.errors?.['pattern']">
                Số điện thoại cần có 10 ký tự số
              </p>
            </div>
            <!-- <div class="divider-nospace"></div> -->
          </div>

          <div class="form-group mt-4 password-field">
            <label for="password">Mật khẩu</label>
            <span class="input-wrapper">
              <input [type]="showPassword ? 'text' : 'password'" id="password"
                class="form-control"
                placeholder="Ít nhất 3 ký tự"
                required minlength="3" name="password"
                [(ngModel)]="userLoginModel.password" #password="ngModel" />
              <ng-container>
                <i class="fa-solid fa-eye-slash password-toggle"
                  *ngIf="!showPassword"
                  (click)="togglePasswordVisibility()"></i>
                <i class="fa-solid fa-eye password-toggle"
                  *ngIf="showPassword"
                  (click)="togglePasswordVisibility()"></i>
              </ng-container>
            </span>
            <div
              *ngIf="password.errors && password.touched || isSubmitted">
              <p class="text-danger mt-2"
                *ngIf="password.errors?.['required']">
                Mật khẩu không được để trống
              </p>
              <p class="text-danger mt-2"
                *ngIf="password.errors?.['minlength']">
                Mật khẩu cần có ít nhất 3 ký tự
              </p>
            </div>
            <!-- <div class="divider-nospace"></div> -->
          </div>

          <div class="form-group mt-4">
            <div class="form-check checkbox-form">
              <span>
                <input class="form-check-input" type="checkbox" value
                  id="remember"
                  name="rememberMe" [(ngModel)]="rememberMe">
                <label class="form-check-label text-start" for="remember">
                  Ghi nhớ mật khẩu
                </label>
              </span>
              <a href="#" class="forgot-password">Quên mật khẩu</a>
            </div>
          </div>

          <div class="form-group mt-4">
            <select class="form-control access-right"
              [(ngModel)]="selectedRole" name="role" #role="ngModel"
              (change)="onRoleChange()">
              <option *ngFor="let role of roles"
                [ngValue]="role">{{role.name}}</option>
            </select>
          </div>
          <button class="login-btn" type="submit"
            [class.btn-disabled]="!validateForm(loginForm)">Đăng nhập</button>
          <p class="text-center">Chưa có tài khoản?
            <span>
              <a href="#" class="register-link"
                routerLink="/register">Đăng ký</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
